$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "icomoon";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #282828;
}

h1, h2, h3 {
  font-weight: 200;
}

p {
  font-weight: 200;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site-header {
  border-top: 5px solid #f1eb24;
  color: #f6f6f6;
  padding: 80px 0;
  background: #f6f6f6 url("../images/nodeschool-site-top.png") center center;
  background-size: cover;

  h1 > a {
    color: #f6f6f6;
  }

  h1 > a:hover {
    color: #f6f6f6;
    text-decoration: none;
  }


  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($jumbotron-padding * 5);
    padding-bottom: ($jumbotron-padding * 5);

    h1,
    .h1 {
      font-size: $jumbotron-heading-font-size;
    }
  }
}

.countdown {
  span {
    font-weight: bold;
  }
  font-size: 21px;
  text-align: center;
  margin-bottom: 30px;
}

.who-are-we {
  margin: 0 auto;
  .lead{
    margin-top: 15px;
    font-size: 30px;
  }
  @media screen and (min-width: $screen-sm-min) {
    width: 65%;
  }
}

.what-we-do {
  margin: 20px 0 30px;
  padding: 30px 0;

  @media screen and (min-width: $screen-sm-min) {
    margin: 30px 0 50px;
    padding: 50px 0;
  }
}

.what-we-do > div[class^="col-md-"] {

  @media screen and (max-width: $screen-sm-min) {
    margin-bottom: 65px;
  }
}

.what-is-nodeSchool,
.nodeSchool-day,
.workshops {
  @extend .what-we-do;
}

.que-esperar, .site-footer, .questions  {
  @extend .what-we-do;
  padding-bottom: 0px;
}

.questions{
  background: url("../images/nodeschool_site_cri.png") center top no-repeat #f1eb24;
}

// ====  helpers
/* Paragraph & Typographic */
p {
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.paragraph-lead {
    font-size: 20px;
    color: #3498db;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 300;
}

pre {
    background: #ebebeb;
    border: none;
    font-family: "Monaco";
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
}

small {
    font-size: 12px;
}

blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left: 5px solid #3498db;
}

blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300;
}

blockquote cite:before {
    content: "-- "
}

.event-box{
  border: 2px solid yellow;
  border-radius: 20px;
  min-height: 100px;
  line-height: 25px;
  display: block;
  text-decoration: none;
  padding-top: 20px;
  color: #000;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}

#imagen-costa-rica{
  background: #f6f6f6 url("../images/san-jose-costa-rica-at-sunrise.jpg") center center;
  min-height: 300px;
  background-size: cover;
}

.mentor-links a{
  font-size:20px;
  margin: 0 3px;
  text-decoration: none !important;
}

.bg-yellow{
  background-color: #f1eb24;
}

.bg-green{
  background-color: #85cdb8;
}

.bg-gray{
  background-color: #e6eced;
}

.bg-ligth-gray{
  background-color: #f6f6f6;
}

.bg-green-dots{
  background: url("../images/nodeschool_site_green_dots.png") center center no-repeat;
  background-size: cover;
}

#nodeschool{
  background-image: url("../images/nodeschool_site_sloth.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

#nodeschool-day{
  background-image: url("../images/nodeschool_site_volcano.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.green-transition{
  background: url("../images/nodeschool_site_green_transition.png") center top #e6eced no-repeat;
  min-height: 50px;
}

.people-image{
  width: 100%
}

.img-organizadores{
  margin: 0 20px;
}

.img-sponsors{
  max-width: 200px;
  max-height: 75px;
  margin: 20px;
}


// .hexagon {
//     overflow: hidden;
//     visibility: hidden;
//     -webkit-transform: rotate(120deg);
//        -moz-transform: rotate(120deg);
//         -ms-transform: rotate(120deg);
//          -o-transform: rotate(120deg);
//             transform: rotate(120deg);
//     cursor: pointer;
//     }
// .hexagon-in1 {
//     overflow: hidden;
//     width: 100%;
//     height: 100%;
//     -webkit-transform: rotate(-60deg);
//        -moz-transform: rotate(-60deg);
//         -ms-transform: rotate(-60deg);
//          -o-transform: rotate(-60deg);
//             transform: rotate(-60deg);
//     }
// .hexagon-in2 {
//     width: 100%;
//     height: 100%;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-size: cover;
//     visibility: visible;
//     -webkit-transform: rotate(-60deg);
//        -moz-transform: rotate(-60deg);
//         -ms-transform: rotate(-60deg);
//          -o-transform: rotate(-60deg);
//             transform: rotate(-60deg);
//     }
//
// .hexagon2 {
//   width: 100px;
//   height: 200px;
//   margin: -80px 0 0 20px;
// }
